@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@200;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Blinker', sans-serif;
  position: relative;
}

html {
  font-size: 62.5%;
}

/* global */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 19px;
}

/* scroll settings */

/* Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: #ff4d30 #ffffff;
}

/* Chrome, Edge and Safari */
/* ::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #7a7676;
}

*::-webkit-scrollbar-track:hover {
  background-color: #7a7676;
}

*::-webkit-scrollbar-track:active {
  background-color: #7a7676;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ff4d30;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ff4d30;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ff2525;
}  */
